@import 'font.css';

:root {
    --orange: #F18128;
    --white: #ffffff;
    --bg: #040D1F;
    --comf: 'Comfortaa';
    --mont: 'Montserrat';
    --rob: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: var(--bg);
}

.header__poster {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    gap: 24px;
    padding: 20px 0;
}

.film {
    font-size: 40px;
    color: var(--white);
}

.header__poster-text {
    font-family: var(--comf);
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
    width: 166px;
}
.header{
    position: sticky;
    top: -84px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
}
#film,
#serials,
#Coll{
    scroll-margin: 104px;
}

.header__logo {
    display: flex;
    align-items: flex-end;
}

.header__logo span {
    font-family: var(--comf);
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
}

.header__list {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header__link {
    display: flex;
    flex-direction: column;

}

.header__link::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--orange);
    transform: scale(0);
    transition: .3s;
}

.header__link span {
    padding: 42px 6px;
    color: var(--white);
    font-family: var(--mont);
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.header__link:hover::after {
    transform: scale(1);
}

.header__link:hover span {
    color: var(--orange);
}

.intro {
    position: relative;
    height: 80vh;
    background: rgba(7, 15, 25, 0.75);
    display: flex;
    align-items: center;
}

.intro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.intro__title {
    font-family: var(--mont);
    font-size: 64px;
    font-weight: 700;
    color: var(--white);
}

.intro__text {
    font-family: var(--mont);
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #C8C8C8;
    margin: 30px 0 50px;
    max-width: 570px;
    text-align: justify;
}

.intro__links {
    display: flex;
    gap: 30px;
}

.button {
    background: var(--bg);
    border-radius: 6px;
    color: var(--white);
    font-family: var(--rob);
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    max-width: 166px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.button:hover {
    color: black;
    background: var(--orange);
}

.films {
    padding: 60px 0 80px;
}

.section-title {
    color: var(--orange);
    font-family: var(--comf);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    width: max-content;
    margin-bottom: 54px;
}

.section-title::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--orange);
    display: block;
}

.films__item {
    position: relative;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    overflow: hidden;
}

.films__catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 370px;
    gap: 30px;
}

.films__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .5s;
}

.films__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 15px 19px;
    transition: .5s;
}

.play {
    font-size: 46px;
    transition: .5s;
}

.play::before {
    color: var(--white);
}

.play::after {
    color: rgba(255, 255, 255, 0.50);
}

.films__content-duration {
    border-radius: 9px;
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.20);
    padding: 7px 28px;
    color: var(--white);
    font-family: var(--mont);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    margin: 12px 0 30px;
}

.films__content-name {
    color: var(--white);
    font-family: var(--mont);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

.films__content-text {
    color: var(--white);
    font-family: var(--rob);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.films__item:hover .films__content {
    transform: translateY(100%) scale(1.5);
}

.films__item:hover .play {
    transform: translateY(-150px) scale(1.1) rotateX(180deg)
}

.films__item:hover .films__item-bg {
    transform: scale(1.2)
}

.widow {
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
    padding: 42px 0 80px;
}

.widow__video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.widow__img {
    max-width: 445px;
    width: 100%;
}

.widow__text {
    color: #000;
    text-align: justify;
    font-family: var(--rob);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 558px;
    width: 100%;
    margin: 50px 0 55px;
}

.collections {
    padding: 60px 0;
}

.collections__column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 193px;
    gap: 30px;
}

.collections__item {
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collections__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.collections__item::before,
.collections__item::after {
    position: absolute;
    content: url('../img/rec.png');
    top: 7px;
}

.collections__item::before {
    left: 7px;
}

.collections__item::after {
    right: 7px;
}

.collections__item-name {
    margin-top: 15px;
    color: var(--white);
    font-family: var(--comf);
    font-size: 20px;
    font-weight: 700;
}

.series__top {
    position: relative;
    padding: 96px 22px;
    background: linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.series__top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.series__top-name {
    color: var(--white);
    font-family: var(--comf);
    font-size: 40px;
    font-weight: 700;
}

.series__top-text {
    color: var(--white);
    text-align: center;
    font-family: var(--comf);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.series__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    border-radius: 6px;
    background: linear-gradient(96deg, rgba(35, 35, 35, 0.80) 0%, rgba(11, 11, 11, 0.60) 100%);
    overflow: hidden;
}

.series__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.series__column{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 190px;
    gap: 30px;
    margin-top: 30px;
}
.series__item:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
}

.series__item-name{
    color: var(--white);
    font-family: var(--comf);
    font-size: 24px;
    font-weight: 700;
}
.series{
    margin-bottom: 60px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer{
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: (0px 0px 20px rgba(0, 0, 0, 0.80));
    padding: 24px 0;
}
.footer__txt{
    color: var(--white);
    text-align: right;
    font-family: var(--comf);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
}
html,body{
    scroll-behavior: smooth;
}